.menu_title_container {
  text-align: center;
}

.menu_title_container h1 {
  color: rgb(241, 241, 241);
  margin: 0.3rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: 'Segoe UI';
}

.menu_title_container hr {
  margin-top: 1rem;
  border: 1.5px dotted rgb(241, 241, 241);
  border-radius: 15px;
}
