/* You can add global styles to this file, and also import other style files */
* {
  background-color: rgb(35, 35, 35);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  text-decoration: none;
}
